# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import pandas as pd

In [9]:
# import modin.pandas as pd
# from distributed import Client
# client = Client()

In [2]:
# leading data
df = pd.read_csv('./zillow_data.csv')

In [3]:
# display dataset
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

# Step 2: Data Preprocessing

In [4]:
# def get_datetimes(df):
#     return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

In [5]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[7:], format='%Y-%m')

In [7]:
get_datetimes(df)

DatetimeIndex(['1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01',
               ...
               '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
               '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01',
               '2018-03-01', '2018-04-01'],
              dtype='datetime64[ns]', length=265, freq=None)

In [8]:
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

# Step 3: EDA and Visualization

In [12]:
import matplotlib.pyplot as plt
import matplotlib

In [13]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

In [14]:
df.columns

Index(['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName',
       'SizeRank', '1996-04', '1996-05', '1996-06',
       ...
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04'],
      dtype='object', length=272)

In [7]:
zipcode_list = df_melted['RegionID'].unique().tolist()
zipcode_list

[84654,
 90668,
 91982,
 84616,
 93144,
 91733,
 61807,
 84640,
 91940,
 97564,
 62037,
 71831,
 62087,
 62045,
 74101,
 96107,
 84646,
 74242,
 92593,
 84620,
 61703,
 92036,
 92045,
 69816,
 93123,
 92515,
 97771,
 71067,
 66126,
 96027,
 92271,
 92551,
 66133,
 90654,
 61802,
 74126,
 91922,
 86026,
 84615,
 91968,
 70829,
 89925,
 91685,
 91926,
 61803,
 62040,
 84630,
 62020,
 84627,
 70828,
 90637,
 62023,
 90823,
 69823,
 94748,
 60545,
 62025,
 66843,
 72463,
 92481,
 67732,
 91726,
 97711,
 70874,
 92617,
 99534,
 91889,
 90795,
 62032,
 92341,
 62039,
 61148,
 84621,
 96015,
 97565,
 92598,
 70810,
 84612,
 77007,
 90665,
 72363,
 72578,
 72442,
 62088,
 96025,
 79054,
 58669,
 67730,
 96239,
 87074,
 76953,
 98325,
 96193,
 62044,
 96990,
 95048,
 92654,
 62067,
 61790,
 71005,
 71864,
 74156,
 97764,
 62026,
 96007,
 94820,
 96545,
 95306,
 69672,
 60081,
 92336,
 95309,
 95804,
 94890,
 62022,
 65133,
 97431,
 93263,
 79040,
 94870,
 92520,
 97740,
 64180,
 98304,
 76511,
 76971,
 93203,
 72362,
 66705,
 72347,
 96047,
 76534,
 99142,
 91198,
 96467,
 62093,
 94940,
 62085,
 63776,
 87019,
 99500,
 91950,
 96987,
 98432,
 72901,
 77094,
 58660,
 84622,
 69340,
 77400,
 91221,
 72737,
 97023,
 84635,
 61169,
 86717,
 78823,
 99563,
 96825,
 90780,
 96667,
 96000,
 76539,
 69336,
 84285,
 78085,
 91325,
 69849,
 69450,
 95817,
 70698,
 90657,
 70825,
 70953,
 93146,
 96817,
 100179,
 66135,
 91744,
 96546,
 92125,
 96882,
 97743,
 60518,
 69431,
 67010,
 62043,
 60639,
 96125,
 67180,
 65779,
 95813,
 95314,
 76597,
 75696,
 78042,
 62046,
 96477,
 67655,
 90226,
 96083,
 96934,
 71895,
 66785,
 96651,
 73221,
 91941,
 96643,
 72247,
 70859,
 60599,
 84628,
 95985,
 69699,
 73014,
 96208,
 78975,
 70842,
 72488,
 70835,
 70826,
 90769,
 72350,
 71050,
 62084,
 71902,
 73183,
 84647,
 96816,
 74187,
 67722,
 74815,
 96590,
 79044,
 97118,
 96368,
 77030,
 98411,
 71871,
 97991,
 76471,
 66142,
 67182,
 77850,
 93490,
 58666,
 96959,
 95043,
 66683,
 70808,
 67787,
 58743,
 72393,
 66125,
 70294,
 62029,
 72365,
 95785,
 95992,
 90759,
 62034,
 71837,
 72392,
 95315,
 76796,
 96006,
 89528,
 96008,
 61895,
 76983,
 90638,
 61200,
 91731,
 73233,
 97751,
 65791,
 92576,
 84618,
 99252,
 76595,
 72532,
 90727,
 97952,
 66242,
 82474,
 67720,
 96468,
 96364,
 73409,
 70904,
 89249,
 96221,
 70696,
 93205,
 71878,
 98378,
 69497,
 92120,
 70791,
 76501,
 97328,
 62019,
 95819,
 97717,
 93449,
 92474,
 79398,
 85941,
 75755,
 66825,
 70496,
 84624,
 60594,
 72252,
 91706,
 67719,
 67598,
 84617,
 76231,
 77698,
 70909,
 69275,
 65933,
 63478,
 99575,
 84641,
 97576,
 97435,
 91261,
 66787,
 97319,
 97318,
 94843,
 84504,
 72538,
 92345,
 65701,
 72540,
 98413,
 84656,
 97222,
 89982,
 63615,
 66043,
 95770,
 97189,
 65787,
 69491,
 62015,
 97223,
 72626,
 67189,
 66679,
 74185,
 97225,
 97940,
 71532,
 87073,
 62030,
 66832,
 84317,
 69487,
 94871,
 70377,
 97167,
 89712,
 70482,
 90645,
 72460,
 96236,
 97745,
 74145,
 99961,
 97748,
 97970,
 84340,
 99589,
 70056,
 88757,
 91656,
 90612,
 96962,
 97202,
 71719,
 69779,
 74940,
 77986,
 74214,
 72220,
 96965,
 71434,
 73761,
 74183,
 71897,
 66143,
 92003,
 100157,
 91732,
 85866,
 62080,
 70658,
 69768,
 70984,
 70513,
 96646,
 96657,
 96186,
 64009,
 60368,
 69489,
 99048,
 58565,
 65031,
 72103,
 92667,
 62014,
 72653,
 85947,
 94738,
 96690,
 94799,
 97721,
 95318,
 92347,
 92651,
 95806,
 96964,
 97792,
 74124,
 90316,
 99581,
 62031,
 70846,
 66834,
 69778,
 66666,
 417444,
 72617,
 99930,
 98135,
 94103,
 90764,
 84241,
 98361,
 94921,
 66758,
 72199,
 96846,
 76596,
 84399,
 99251,
 74379,
 74147,
 97926,
 97774,
 74113,
 77418,
 65742,
 65801,
 69773,
 72581,
 70991,
 96647,
 69789,
 77402,
 94724,
 62027,
 88457,
 69378,
 67657,
 97545,
 74746,
 72599,
 96664,
 76410,
 95790,
 95799,
 91860,
 67723,
 63414,
 78467,
 93133,
 69270,
 70839,
 70832,
 62453,
 70878,
 72353,
 84610,
 75885,
 96966,
 82125,
 71914,
 92662,
 96954,
 97567,
 74186,
 96192,
 92668,
 79209,
 95844,
 92350,
 72444,
 97980,
 92597,
 98946,
 97549,
 99631,
 65815,
 60642,
 72249,
 81422,
 58291,
 66703,
 98341,
 94562,
 69337,
 83942,
 61175,
 91719,
 58663,
 65798,
 98848,
 92305,
 90757,
 75422,
 97993,
 72602,
 96017,
 99093,
 81782,
 72622,
 70568,
 72359,
 72543,
 60363,
 60560,
 96917,
 99519,
 61229,
 91291,
 91885,
 62066,
 70847,
 84273,
 66708,
 62223,
 70854,
 94847,
 81427,
 58902,
 58649,
 91280,
 73162,
 77463,
 96659,
 72203,
 76617,
 61093,
 96671,
 67247,
 67186,
 66035,
 96669,
 95843,
 67181,
 60776,
 65131,
 97796,
 78942,
 94796,
 96361,
 97548,
 96918,
 70511,
 72262,
 72361,
 85145,
 77414,
 66028,
 85990,
 70917,
 88451,
 96531,
 92657,
 92961,
 94282,
 65895,
 89319,
 69209,
 96023,
 70576,
 91212,
 77664,
 96589,
 66828,
 69670,
 97224,
 97760,
 89850,
 93295,
 71343,
 61806,
 92480,
 97075,
 97506,
 73202,
 70383,
 67953,
 74939,
 99341,
 72527,
 60565,
 90045,
 69443,
 84460,
 96861,
 71816,
 99638,
 90690,
 62086,
 72531,
 94927,
 90701,
 67541,
 86716,
 92324,
 94384,
 84638,
 92319,
 71039,
 60519,
 91883,
 100194,
 99120,
 92838,
 96728,
 74590,
 65897,
 72603,
 67724,
 77260,
 90687,
 70096,
 92326,
 97004,
 97920,
 67120,
 84639,
 79046,
 60643,
 86020,
 93206,
 74003,
 85934,
 96612,
 65812,
 98130,
 73181,
 73256,
 99255,
 98930,
 75328,
 84868,
 96625,
 93460,
 92224,
 66816,
 60916,
 96593,
 94957,
 69446,
 96974,
 96911,
 60454,
 61813,
 82547,
 67114,
 77918,
 94948,
 77434,
 67600,
 70022,
 95815,
 98319,
 69335,
 59470,
 85992,
 77024,
 73232,
 62021,
 92349,
 77529,
 70891,
 74056,
 92497,
 99388,
 69388,
 72585,
 96888,
 71768,
 98861,
 96958,
 98948,
 95987,
 74127,
 69456,
 62658,
 71230,
 90642,
 72394,
 61934,
 95825,
 72907,
 84329,
 97024,
 65859,
 97073,
 97083,
 90614,
 94846,
 67587,
 66664,
 95304,
 96758,
 66838,
 96110,
 69453,
 84631,
 87014,
 90726,
 97569,
 62120,
 72834,
 82189,
 66817,
 65132,
 93210,
 65943,
 399576,
 94800,
 93252,
 79502,
 96005,
 92346,
 90661,
 90630,
 91046,
 92354,
 99583,
 78926,
 93435,
 72717,
 99178,
 65816,
 72478,
 66597,
 76601,
 95818,
 97227,
 96952,
 95307,
 92312,
 66622,
 99947,
 67590,
 89903,
 98923,
 70518,
 85643,
 93202,
 88825,
 90783,
 65814,
 92610,
 64213,
 88414,
 96520,
 70688,
 93596,
 92575,
 84642,
 92477,
 78568,
 99338,
 96743,
 78110,
 89707,
 73043,
 72312,
 72358,
 70592,
 96009,
 70457,
 62370,
 94903,
 63428,
 85874,
 62035,
 99137,
 75568,
 67708,
 95811,
 91276,
 91730,
 90666,
 91712,
 90675,
 87507,
 95931,
 96613,
 69385,
 91896,
 67307,
 63968,
 94840,
 72541,
 89945,
 72480,
 60714,
 94914,
 97008,
 70803,
 61782,
 76774,
 72428,
 78584,
 60688,
 72391,
 83400,
 74649,
 69320,
 91691,
 94819,
 76576,
 88629,
 60945,
 97931,
 74591,
 62179,
 91470,
 82001,
 94949,
 73157,
 82063,
 72718,
 60592,
 65863,
 417437,
 77403,
 97205,
 97116,
 69455,
 87016,
 74555,
 82107,
 92343,
 63280,
 98881,
 90669,
 77002,
 74408,
 99491,
 58514,
 69242,
 96411,
 84466,
 82156,
 79118,
 73449,
 93204,
 94872,
 73195,
 65140,
 69452,
 96602,
 95300,
 73385,
 92017,
 97571,
 96645,
 60347,
 76599,
 63447,
 97429,
 91184,
 81563,
 89902,
 96389,
 94802,
 72371,
 96886,
 72720,
 69444,
 98543,
 75630,
 70758,
 82105,
 67776,
 60944,
 69372,
 69813,
 93137,
 96572,
 98440,
 72261,
 62810,
 65368,
 69925,
 399724,
 93450,
 64399,
 70238,
 69762,
 90670,
 71832,
 95387,
 63405,
 90265,
 90771,
 82114,
 97265,
 61809,
 65771,
 69723,
 93305,
 86356,
 91721,
 96030,
 96735,
 60540,
 84693,
 99199,
 96415,
 97575,
 81295,
 98041,
 98312,
 66261,
 96826,
 76302,
 77296,
 96465,
 61788,
 79042,
 97020,
 99569,
 70632,
 96123,
 70532,
 69060,
 96506,
 69210,
 71869,
 96488,
 76463,
 68174,
 76592,
 96765,
 78041,
 91463,
 72608,
 96865,
 99775,
 72173,
 82113,
 74166,
 80792,
 96001,
 92329,
 99676,
 61100,
 69040,
 72582,
 72482,
 97016,
 69728,
 95317,
 90628,
 95049,
 62190,
 79032,
 99116,
 70295,
 94732,
 74252,
 63904,
 66839,
 84486,
 95305,
 93459,
 58570,
 80979,
 62234,
 65905,
 84633,
 78983,
 90629,
 81843,
 66745,
 ...]

In [8]:
TS = {}
for zipcode in zipcode_list:
    temp_df = df_melted.groupby('RegionID').get_group(zipcode).sort_index()['value']
    TS[zipcode] = temp_df

UserWarning: `DataFrame.groupby_on_multiple_columns` defaulting to pandas implementation.
To request implementation, send an email to feature_requests@modin.org.
FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
UserWarning: Distributing <class 'pandas.core.frame.DataFrame'> object. This may take some time.
UserWarning: `DataFrame.groupby_on_multiple_columns` defaulting to pandas implementation.

KeyboardInterrupt:

In [ ]:
TS.keys()

In [ ]:

ts_df = pd.DataFrame(TS)
ts_df.head()

# Step 4: Reshape from Wide to Long Format

In [8]:
# def melt_data(df):
#     melted = pd.melt(
#         df,
#         id_vars=['RegionName', 'City', 'State', 'Metro', 'CountyName'],
#         var_name='time')
#     melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
#     melted = melted.dropna(subset=['value'])
#     return melted.groupby('time').aggregate({'value': 'mean'})

# melt_data(df.drop(labels=['RegionID', 'SizeRank'],axis=1))

In [50]:
# def melt_data(df):
#     melted = pd.melt(df, id_vars=['RegionName', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
#     melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
#     melted = melted.dropna(subset=['value'])
#     return melted#melted.groupby('time').aggregate({'value':'mean'})

# melt_data(df.drop(labels=['RegionID', 'SizeRank'],axis=1))

In [4]:
def melt_data(df):
    melted = pd.melt(df,
                     id_vars=[
                         'RegionID', 'SizeRank', 'RegionName', 'City', 'State',
                         'Metro', 'CountyName'
                     ],
                     var_name='date')
    melted['date'] = pd.to_datetime(melted['date'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted

In [5]:
df_melted = melt_data(df)
df_melted

UserWarning: `melt` implementation has mismatches with pandas:
Order of rows could be different from pandas.

,RegionID,SizeRank,RegionName,City,State,Metro,CountyName,date,value
0,84654,1,60657,Chicago,IL,Chicago,Cook,1996-04-01,334200.0
1,90668,2,75070,McKinney,TX,Dallas-Fort Worth,Collin,1996-04-01,235700.0
2,91982,3,77494,Katy,TX,Houston,Harris,1996-04-01,210400.0
3,84616,4,60614,Chicago,IL,Chicago,Cook,1996-04-01,498100.0
4,93144,5,79936,El Paso,TX,El Paso,El Paso,1996-04-01,77300.0
...,...,...,...,...,...,...,...,...,...
3901590,58333,14719,1338,Ashfield,MA,Greenfield Town,Franklin,2018-04-01,209300.0
3901591,59107,14720,3293,Woodstock,NH,Claremont,Grafton,2018-04-01,225800.0
3901592,75672,14721,40404,Berea,KY,Richmond,Madison,2018-04-01,133400.0
3901593,93733,14722,81225,Mount Crested Butte,CO,NaN,Gunnison,2018-04-01,664400.0
3901594,95851,14723,89155,Mesquite,NV,Las Vegas,Clark,2018-04-01,357200.0

In [6]:
len(df_melted['RegionID'].unique())

14723

In [7]:
print(len(df_melted['State'].unique()))
df_melted['State'].unique()

51

array(['IL', 'TX', 'NY', 'CA', 'FL', 'TN', 'NC', 'GA', 'DC', 'MO', 'OK',
       'AZ', 'NJ', 'MD', 'VA', 'WA', 'OH', 'MI', 'MA', 'KS', 'NM', 'CT',
       'NV', 'PA', 'CO', 'OR', 'IN', 'SC', 'KY', 'AR', 'MN', 'AL', 'DE',
       'LA', 'MS', 'ID', 'MT', 'HI', 'WI', 'UT', 'ME', 'SD', 'WV', 'IA',
       'RI', 'NE', 'WY', 'AK', 'NH', 'VT', 'ND'], dtype=object)

In [8]:
print(len(df_melted['Metro'].unique()))
df_melted['Metro'].unique()

702

array(['Chicago', 'Dallas-Fort Worth', 'Houston', 'El Paso', 'New York',
       'San Francisco', 'The Villages', 'Nashville',
       'Los Angeles-Long Beach-Anaheim', 'Austin', 'Charlotte', 'McAllen',
       'Atlanta', 'Washington', 'San Antonio', 'Clarksville', 'St. Louis',
       'Oklahoma City', 'Phoenix', 'Baltimore', 'Miami-Fort Lauderdale',
       'Brownsville', 'Virginia Beach', 'Seattle', 'Cleveland',
       'Ann Arbor', 'Boston', 'Kansas City', 'Sacramento', 'Tucson',
       'Jacksonville', 'Napa', 'San Diego', 'Albuquerque', 'Hartford',
       'Las Vegas', 'Lancaster', 'Fresno', 'Denver', 'Detroit', 'Vallejo',
       'Pittsburgh', 'Columbus', 'Portland', 'Riverside', 'Yuma',
       'Ithaca', 'Springfield', 'Fort Myers', nan, 'Cincinnati', 'Tampa',
       'Columbia', 'Lafayette-West Lafayette', 'Fayetteville', 'Raleigh',
       'Kennewick', 'College Station', 'Hagerstown', 'Philadelphia',
       'Richmond', 'Indianapolis', 'Tulsa', 'Orlando', 'Ventura',
       'San Jose', 'Findlay', 'Greeley', 'Daytona Beach', 'Zanesville',
       'Jonesboro', 'Port St. Lucie', 'Eugene', 'Rochester', 'Birmingham',
       'Hot Springs', 'Durham', 'Fort Collins', 'Lansing', 'Frankfort',
       'Charleston', 'Bowling Green', 'Chillicothe', 'Winston-Salem',
       'Buffalo', 'Bakersfield', 'Visalia', 'Savannah', 'Hanford',
       'Santa Cruz', 'Hickory', 'Baton Rouge', 'Oxford', 'Warner Robins',
       'Montgomery', 'Spokane', 'Greenville', 'New Haven', 'York',
       'Gainesville', 'Longview', 'Modesto', 'Twin Falls', 'Kalispell',
       'Chattanooga', 'New Orleans', 'Jackson', 'Elizabethtown',
       'Louisville/Jefferson County', 'Albany', 'Minneapolis-St Paul',
       'Tallahassee', 'Flint', 'Urban Honolulu', 'Madison', 'Pittsfield',
       'Ogden', 'Billings', 'Starkville', 'La Crosse', 'Myrtle Beach',
       'Providence', 'Marion', 'Bloomington', 'Lubbock', 'Boise City',
       'Little Rock', 'Dayton', 'Augusta', 'Blacksburg', 'Memphis',
       'Medford', 'Lawton', 'Bellingham', 'Amarillo', 'Canton', 'Mobile',
       'Gulfport', 'Davenport', 'Laredo', 'Stamford', 'Mankato', 'Bangor',
       'Auburn', 'Bend', 'Hilo', 'Athens', 'Lakeland', 'Kalamazoo',
       'Tyler', 'Boulder', 'Salem', 'Florence', 'Colorado Springs',
       'Michigan City', 'North Port-Sarasota-Bradenton', 'Melbourne',
       'Wichita', 'Reno', 'Toledo', 'Rapid City', 'Lafayette', 'Killeen',
       'Oshkosh', 'Knoxville', 'Binghamton', 'Kingsport', 'Burlington',
       'Tuscaloosa', 'Williamsport', 'Green Bay', 'Redding', 'Lexington',
       'Hilton Head Island', 'Allentown', 'Wilmington', 'Asheville',
       'Santa Fe', 'Santa Maria-Santa Barbara', 'Corvallis', 'Milwaukee',
       'Stockton', 'Owensboro', 'Wooster', 'Fairmont', 'Lynchburg',
       'Dubuque', 'Trenton', 'Morgantown', 'Cedar Rapids', 'Eau Claire',
       'Sandusky', 'Fond du Lac', 'Grand Rapids', 'Hattiesburg',
       'State College', 'Lincoln', 'Olympia', 'Pensacola', 'Provo',
       'Peoria', 'Manitowoc', 'Worcester', 'Roanoke', 'Kerrville',
       'Scranton', 'Akron', 'New Bern', 'Salinas', 'Waterloo', 'Fargo',
       'San Luis Obispo', 'Naples', 'Santa Rosa', 'Moses Lake',
       'Oak Harbor', 'Jefferson City', 'Cumberland', 'Johnson City',
       'Del Rio', 'Cookeville', 'Watertown', 'Charlottesville', 'Elkhart',
       'Walla Walla', 'Appleton', 'Utica', 'Yakima', 'Wenatchee',
       'Harrisburg', "Coeur d'Alene", 'Salt Lake City', 'Midland',
       'Bozeman', 'Staunton', 'Jamestown', 'Salisbury', 'Atlantic City',
       'Champaign-Urbana', 'Victoria', 'Kokomo', 'St. George',
       'Panama City', 'Corpus Christi', 'Mount Airy', 'Elizabeth City',
       'Muskegon', 'Odessa', 'New London', 'Sierra Vista', 'Eagle Pass',
       'Cheyenne', 'Wilson', 'Lebanon', 'Lewiston', 'Anchorage',
       'Harrisonburg', 'Dothan', 'Key West', 'Goldsboro', 'Des Moines',
       'Niles', 'Chico', 'Rome', 'Port Angeles', 'Paragould', 'Prescott',
       'San Angelo', 'Lake Charles', 'Decatur', 'Kingston',
       'Cape Girardeau', 'Vineland', 'Monroe', 'Youngstown', 'Sanford',
       'Danville', 'Kahului', 'Logan',
       'Crestview-Fort Walton Beach-Destin', 'Joplin', 'Shelton', 'Boone',
       'Statesboro', 'Fort Wayne', 'Beaumont', 'El Centro', 'Punta Gorda',
       'Farmington', 'Omaha', 'Macon', 'Ardmore', 'Flagstaff',
       'Poplar Bluff', 'Lake Havasu City', 'Calhoun', 'Pocatello',
       'Iowa City', 'Texarkana', 'Winona', 'Manchester', 'Bremerton',
       'Plattsburgh', 'Great Falls', 'Yuba City', 'Idaho Falls',
       'Grants Pass', 'Syracuse', 'Evansville', 'Alexandria', 'Marquette',
       'Daphne', 'Valdosta', 'Topeka', 'Ames', 'Las Cruces', 'Searcy',
       'Missoula', 'Ashtabula', 'Altoona', 'Terre Haute', 'Sioux Falls',
       'Waco', 'New Castle', 'Ocala', 'Murray', 'Helena', 'Martinsville',
       'Lumberton', 'Bemidji', 'Quincy', 'Galesburg', 'Spartanburg',
       'Duluth', 'Racine', 'Reading', 'Lufkin', 'Merced', 'Beckley',
       'Natchez', 'Morristown', 'Muncie', 'Mountain Home', 'McMinnville',
       'Ellensburg', 'Fort Smith', 'Kankakee', 'Brainerd', 'Shelbyville',
       'Concord', 'Ruston', 'Wausau', 'Paducah', 'Vero Beach',
       'South Bend', 'Stillwater', 'Sevierville', 'Rockford', 'Durango',
       'Lawrence', 'Rocky Mount', 'Fremont', 'Huntsville', 'Pueblo',
       'Ukiah', 'Greensboro', 'Ada', 'Hammond', 'Truckee', 'Garden City',
       'North Platte', 'Coos Bay', 'Enid', 'Muskogee', 'Norfolk',
       'Muscatine', 'Saginaw', 'Ottumwa', 'Seymour', 'Harrison', 'Dalton',
       'Marshalltown', 'Abilene', 'Klamath Falls', 'Parkersburg',
       'Bardstown', 'Rio Grande City', 'St. Cloud', 'Fort Dodge',
       'Stephenville', 'Mount Vernon', 'Erie', 'Emporia', 'Sidney',
       'Madera', 'Winchester', 'Roseburg', 'Grand Junction',
       'Wisconsin Rapids-Marshfield', 'Tahlequah', 'Chambersburg',
       'Owatonna', 'Meadville', 'Bedford', 'Rexburg', 'Georgetown',
       'Stevens Point', 'Moscow', 'Branson', 'Houma', 'Shelby', 'Sebring',
       'LaGrange', 'Kingsville', 'Greeneville', 'Tiffin', 'Sumter',
       'Picayune', 'Glens Falls', 'Bartlesville', 'Orangeburg',
       'Marietta', 'Madisonville', 'Traverse City', 'Battle Creek',
       'East Stroudsburg', 'Tupelo', 'Junction City', 'Bloomsburg',
       'Natchitoches', 'Crawfordsville', 'Faribault', 'Duncan',
       'Cortland', 'Cape Cod', 'Logansport', 'Greenwood', 'Casper',
       'Payson', 'Clinton', 'Warrensburg', 'Sioux City', 'Brenham',
       'Ocean City', 'Gettysburg', 'McAlester', 'Huntington', 'Dublin',
       'Dyersburg', 'Corsicana', 'Easton', 'Tullahoma', 'Rock Springs',
       'Grand Island', 'Torrington', 'Keene', 'Fredericksburg', 'Ottawa',
       'Brunswick', 'West Plains', 'Vincennes', 'Okeechobee', 'Tifton',
       'Pottsville', 'Coldwater', 'Centralia', 'Juneau', 'Mansfield',
       'Pittsburg', 'Batesville', 'Vernal', 'Brownwood',
       'Fort Polk South', 'Dunn', 'Morehead City', 'Beaver Dam',
       'Hutchinson', 'Palatka', 'Alice', 'Willmar', 'Eureka',
       'Lawrenceburg', 'Peru', 'Carson City', 'California-Lexington Park',
       'Newport', 'Lima', 'Connersville', 'Montrose', 'Fairbanks',
       'Toccoa', 'Bay City', 'Brookhaven', 'Mount Pleasant', 'Durant',
       'Bastrop', 'Jefferson', 'Cadillac', 'Hannibal',
       'Washington Court House', 'Blackfoot', 'Brevard', 'Gillette',
       'St. Joseph', 'Sterling', 'Lewisburg', 'The Dalles',
       'Wichita Falls', 'Paris', 'Baraboo', 'Henderson', 'Johnstown',
       'Prineville', 'Cambridge', 'Plymouth', 'Pinehurst-Southern Pines',
       'Plainview', 'Aberdeen', 'Elmira', 'Jasper', 'Sault Ste. Marie',
       'Port Clinton', 'Shawnee', 'Sandpoint', 'Arcadia', 'Ludington',
       'Corning', 'Whitewater', 'Warsaw', 'DuBois', 'Forest City',
       'McComb', 'Newton', 'Moultrie', 'Russellville', 'St. Marys',
       'Homosassa Springs', 'Coshocton', 'Laramie', 'Summit Park',
       'Nacogdoches', 'Altus', 'Show Low', 'Cedar City', 'Olean',
       'Beeville', 'Crossville', 'Laconia', 'Bogalusa', 'Oneonta',
       'Bellefontaine', 'Newberry', 'Waycross', 'Shreveport', 'Red Wing',
       'Gadsden', 'Riverton', 'Ponca City', 'Pampa', 'Hood River',
       'Greenfield Town', 'North Vernon', 'Astoria', 'Opelousas',
       'Mineral Wells', 'Hudson', 'Brookings', 'Big Rapids', 'Angola',
       'La Grande', 'Lake City', 'Uvalde', 'Ogdensburg', 'Liberal',
       'Port Lavaca', 'Miami', 'Holland', 'Heber', 'Bradford', 'Kapaa',
       'Barre', 'Cullowhee', 'Wabash', 'Sunbury', 'Marshall', 'Oil City',
       'Levelland', 'Clewiston', 'Somerset', 'Union City', 'Gallup',
       'Silver City', 'Moberly', 'Martin', 'El Campo', 'Glenwood Springs',
       'Palestine', 'Susanville', 'Ontario', 'Los Alamos', 'Mexico',
       'Kendallville', 'Burley', 'Wheeling', 'Woodward', 'Douglas',
       'Cornelia', 'Claremont', 'Huntingdon', 'Sheboygan', 'Ionia',
       'Hillsdale', 'Safford', 'Sweetwater', 'Carbondale', 'Coffeyville',
       'Ketchikan', 'Platteville', 'Gardnerville Ranchos',
       'Fort Leonard Wood', 'Pontiac', 'Price', 'Vernon', 'Evanston',
       'Lamesa', 'Steamboat Springs', 'Sayre', 'Grants', 'Vineyard Haven',
       'Berlin', 'Bluefield', 'Hinesville', 'Manhattan', 'Albemarle',
       'Borger', 'Adrian', 'Defiance', 'Alamogordo', 'Effingham',
       'Clearlake', 'Fergus Falls', 'Arkansas City-Winfield', 'Macomb',
       'Hermiston-Pendleton', 'Yankton', 'Kill Devil Hills',
       'Thomasville', 'Weirton', 'Milledgeville', 'Cedartown', 'Dover',
       'Grand Forks', 'Bismarck', 'Mason City', 'Seneca', 'Scottsbluff',
       'Hailey', 'Kennett', 'Jesup', 'New Philadelphia', 'Cullman',
       'Fernley', 'Minot', 'Williston', 'Dickinson', 'Thomaston',
       'Pahrump', 'Wahpeton', 'Van Wert', 'Wapakoneta', 'Nogales',
       'De Ridder', 'Portsmouth', 'Salina', 'Sedalia', 'Rolla',
       'Dodge City', 'Hays', 'Morgan City', 'Clarksdale', 'Great Bend',
       'Grenada', 'McPherson', 'Hereford', 'Dumas', 'Parsons', 'Espanola',
       'Atchison', 'Meridian', 'Sikeston', 'Vicksburg', 'Laurel',
       'Fort Madison', 'New Ulm', 'Sheridan', 'Greensburg', 'Pullman',
       'Corinth', 'Elko', 'Indianola', 'Deming', 'Houghton'], dtype=object)

In [9]:
df_melted.drop(columns=['RegionID', 'SizeRank'], inplace=True)
df_melted

,RegionName,City,State,Metro,CountyName,date,value
0,60657,Chicago,IL,Chicago,Cook,1996-04-01,334200.0
1,75070,McKinney,TX,Dallas-Fort Worth,Collin,1996-04-01,235700.0
2,77494,Katy,TX,Houston,Harris,1996-04-01,210400.0
3,60614,Chicago,IL,Chicago,Cook,1996-04-01,498100.0
4,79936,El Paso,TX,El Paso,El Paso,1996-04-01,77300.0
...,...,...,...,...,...,...,...
3901590,1338,Ashfield,MA,Greenfield Town,Franklin,2018-04-01,209300.0
3901591,3293,Woodstock,NH,Claremont,Grafton,2018-04-01,225800.0
3901592,40404,Berea,KY,Richmond,Madison,2018-04-01,133400.0
3901593,81225,Mount Crested Butte,CO,NaN,Gunnison,2018-04-01,664400.0
3901594,89155,Mesquite,NV,Las Vegas,Clark,2018-04-01,357200.0

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results